name: iOS Unit Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: macos-14 # or latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set Xcode Version
        run: sudo xcode-select -s /Applications/Xcode_26.app

      - name: Run Xcode Tests
        run: |
          xcodebuild test \
            -scheme budgetPlannerTests \
            -destination 'platform=iOS Simulator,name=iPhone 17,OS=26' \
            -resultBundlePath TestResults
