on: [push, pull_request]

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      # This automatically finds and sets the latest stable Xcode available
      - name: Set Latest Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest-stable'

      - name: Run Xcode Tests
        run: |
          set -o pipefail && xcodebuild test \
            -scheme savingPot \
            -destination 'platform=iOS Simulator,name=iPhone 16,OS=latest' \
            -resultBundlePath TestResults \
            | xcbeautify
