name: iOS CI/CD

on: [push]

jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set Latest Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest-stable'

  #  Lädt die iOS Plattform-Komponenten herunter (notwendig in 2026)
      - name: Install iOS Simulator Runtime
        run: sudo xcodebuild -downloadPlatform iOS
      
          
      
      # 2 Run Unit Tests
      - name: Run Xcode Tests
        run: |
          # Sucht den Namen des ersten verfügbaren iOS Simulators
          DESTINATION=$(xcrun simctl list devices available | grep -m 1 "iPhone" | sed -E 's/.*(\(.*\)).*/\1/' | sed 's/[(|)]//g')
          echo "Using destination: $DESTINATION"
          
          set -o pipefail && xcodebuild test \
            -scheme budgetPlanner \
            -destination "platform=iOS Simulator,name=$DESTINATION" \
            -resultBundlePath TestResults \
            | xcbeautify
     

      # 3. Create directory for the API Key
      - name: Prepare API Key
        run: mkdir -p private_keys

      # 4. Write the secret .p8 content to a file
      - name: Create API Key File
        run: echo "${{ secrets.APP_STORE_P8_TEXT }}" > private_keys/AuthKey_${{ secrets.APP_STORE_KEY_ID }}.p8

      # 5. Archive the App (Using Generic iOS Destination)
      - name: Archive App
        run: |
          xcodebuild archive \
            -scheme budgetPlanner \
            -archivePath build/budgetPlanner.xcarchive \
            -destination 'generic/platform=iOS' \
            -authenticationKeyID ${{ secrets.APP_STORE_KEY_ID }} \
            -authenticationKeyIssuerID ${{ secrets.APP_STORE_ISSUER_ID }} \
            -authenticationKeyPath $(pwd)/private_keys/AuthKey_${{ secrets.APP_STORE_KEY_ID }}.p8 \
            -allowProvisioningUpdates \
            | xcbeautify
