name: iOS CI/CD

on:
  push:
    # Ohne Branch-Einschränkung wird bei jedem Push auf jedem Branch getriggert

jobs:
  build-and-test:
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Latest Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest-stable'

      - name: Run Xcode Tests
        run: |
          DESTINATION="platform=iOS Simulator,name=iPhone 16,OS=18.6"
          DEVICE_ID=$(xcrun simctl list devices | grep "iPhone 16" | grep "18.6" | grep -oE '[0-9A-F]{8}-([0-9A-F]{4}-){3}[0-9A-F]{12}' | head -n 1)
          
          echo "Booting Simulator $DEVICE_ID..."
          xcrun simctl boot "$DEVICE_ID" || true

          for i in {1..20}; do
            if xcrun simctl list devices | grep "$DEVICE_ID" | grep -q "Booted"; then
              echo "Simulator is Booted!"
              break
            fi
            sleep 5
          done

          set -o pipefail && xcodebuild test \
            -project budgetPlanner.xcodeproj \
            -scheme budgetPlanner \
            -destination "$DESTINATION" \
            -resultBundlePath TestResults \
            | xcbeautify

      # Dieser Teil wird NUR auf dem main-branch ausgeführt
      - name: Prepare API Key
        if: github.ref == 'refs/heads/main'
        run: |
          mkdir -p private_keys
          echo "${{ secrets.APP_STORE_P8_TEXT }}" > private_keys/AuthKey_${{ secrets.APP_STORE_KEY_ID }}.p8

      # Dieser Teil wird NUR auf dem main-branch ausgeführt
      - name: Archive App
        if: github.ref == 'refs/heads/main'
        run: |
          xcodebuild archive \
            -scheme budgetPlanner \
            -archivePath build/budgetPlanner.xcarchive \
            -destination 'generic/platform=iOS' \
            -authenticationKeyID ${{ secrets.APP_STORE_KEY_ID }} \
            -authenticationKeyIssuerID ${{ secrets.APP_STORE_ISSUER_ID }} \
            -authenticationKeyPath $(pwd)/private_keys/AuthKey_${{ secrets.APP_STORE_KEY_ID }}.p8 \
            -allowProvisioningUpdates \
            | xcbeautify
